@font-face {
	font-family: Candara;
  src: url('https://spco.xyz/fonts/Candara.ttf') format('truetype');
}

 body {
  background-image: url("https://cdn.spco.xyz/assets/img/imagedoc-darknoise.png");
  background-color: rgb(33,33,33); /* Average color of that ^ image. */
}

 p {
   color:#fff;
   font-family: Candara;
 }