@font-face {
  font-family: "Heebo";
  src: url(https://spco.xyz/fonts/Heebo.woff2) format("woff2");
}

@font-face {
  font-family: "Candara";
  src: url("https://spco.xyz/fonts/Candara.ttf") format("truetype");
}

body {
  background: rgb(23, 23, 23);
  background: linear-gradient(
    52deg,
    rgba(23, 23, 23, 1) 20%,
    rgba(49, 17, 70, 1) 52%,
    rgba(64, 0, 106, 1) 78%
  );
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.sp-topnav {
  position: sticky;
  overflow: hidden;
  background-image: url("https://cdn.spco.xyz/assets/img/imagedoc-darknoise.png");
  background-color: rgba(8, 8, 8, 0.68);
}

.sp-topnav a {
  font-family: "Heebo", sans-serif;
  float: left;
  color: #79c9ff;
  text-shadow: 2px 2px #79c9ff18;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sp-topnav a:hover {
  font-family: "Heebo", sans-serif;
  background-image: url("https://cdn.spco.xyz/assets/img/imagedoc-lightnoise.png");
  background-color: rgb(218, 218, 218);
  color: #223b4b;
  text-shadow: 2px 2px #223b4b18;
}

.info-container {
  border-radius: 3px;
  background-color: #6a2ab31a;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 6px;
}

.info-title {
  width: auto;
  max-width: 100%;
  padding: 14px 16px;
  padding-left: 0px;
  padding-top: 6px;
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 7px;
  outline: none;
  font-size: 14px;
  border: none;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #8a68b125;
  border-right: none;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  display: block;
}

.info-title-header {
  margin-left: 2px;
  margin-bottom: -10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #79c9ff;
  -webkit-font-smoothing: antialiased;
}

.info-section {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  margin-left: 7px;
  -webkit-font-smoothing: antialiased;
}
.info-section a {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  margin-left: 7px;
  -webkit-font-smoothing: antialiased;
}
